.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    }

.main-header {
    display: flex;
    height: 50px;
    border-bottom: #8b8b8d solid 1px;
    box-sizing: border-box;
    
} 

.main-header-item{
    border-right: #8b8b8d solid 1px;
    height: 100%;
    line-height: 50px;
    padding: 0 10px;
}

.container{
    box-sizing: border-box;
    background-color: #202125;
    flex-grow: 1;
}