.table-header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    color: #8b8b8d;
    font-size: 0.8rem;
    border-bottom: #8b8b8d solid 1px;
   
    padding-bottom: 5px;

}

